.list {
    display: flex;
    flex-flow: row;
}
.task-container {
    margin-left: 24px;
}
.subtask-container {
    margin: 12px 0 12px 24px;
}
.tool {
    margin-top: 24px;
}
.edit-task-container {
    display: flex;
    flex-flow: column;
}
.task-all-container {
    margin-bottom: 24px;
}
.abstract-task-description {
    margin: 12px 0;
}
.abstract-task-state {
    font-size: small;
}
