<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rabbit.todo.dao.ListDAO">
    <select id="all" resultType="TaskList">
        SELECT `lid`, `name`, `rank`
        FROM todo.list
        ORDER BY `rank`
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="lid" keyColumn="lid" parameterType="TaskList">
        INSERT INTO `todo`.list(name, `rank`)
        VALUES (#{name}, #{rank})
    </insert>

    <update id="edit">
        UPDATE todo.list
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="rank != null">
                `rank` = #{rank}
            </if>
        </set>
        WHERE lid = #{lid}
    </update>

    <delete id="cascadeTempTask">
        DELETE
        FROM todo.temp_task
        WHERE tid in (
            SELECT tid
            FROM todo.task
            WHERE lid = #{lid}
        )
    </delete>

    <delete id="cascadeIntervalTask">
        DELETE
        FROM todo.interval_task
        WHERE tid in (
            SELECT tid
            FROM todo.task
            WHERE lid = #{lid}
        )
    </delete>

    <delete id="cascadeLongTask">
        DELETE
        FROM todo.long_task
        WHERE tid in (
            SELECT tid
            FROM todo.task
            WHERE lid = #{lid}
        )
    </delete>

    <delete id="deleteTaskList">
        DELETE
        FROM todo.task
        WHERE lid = #{lid};
    </delete>

    <delete id="deleteList">
        DELETE
        FROM todo.list
        WHERE lid = #{lid};
    </delete>

    <select id="list" resultType="TaskList">
        SELECT *
        FROM todo.list
        WHERE lid = #{lid}
    </select>
</mapper>